<html>
<head></head>
<body>
<p>Hey {{ customer.name|split(' ')|first }},</p>

<p>Get ready for your trip to {{ trip.name }}!</p>

<p>Departure: {{ booking.date|date('Y-m-d') }}</p>

<p>
    <a href="{{ url('booking_show', {uid: booking.uid}) }}">
        Manage your booking
    </a>
</p>

<p>
    Regards,<br>
    The Universal Travel Team
</p>
</body>
</html>